In [1]:
sc

In [2]:
spark

In [3]:
sc.stop()
spark.stop()

In [4]:
from pyspark import SparkContext,SparkConf
# 2 in local means the number of cores allocated
# setMaster() used to set Spark Context Manager which is local [core_of_cpu]
config =  SparkConf().setMaster("local[4]").setAppName("ETL Session")

sc = SparkContext(conf = config)

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ETL Pipeline').getOrCreate()

In [6]:
spark

In [7]:
sc

In [8]:
hremployeeDF = spark.read.format('jdbc')\
    .option('url', 'jdbc:mysql://localhost:3306/hremployeedb')\
    .option('dbtable', 'HR_Employee')\
    .option('user', 'root')\
    .option('password', 'hadoop@123')\
    .option('driver', 'com.mysql.cj.jdbc.Driver').load()

In [9]:
hremployeeDF.show()

+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|EmployeeID|          Department|             JobRole|Attrition|Gender|Age|MaritalStatus|    Education|EducationField|   BusinessTravel|JobInvolvement|JobLevel|JobSatisfaction|Hourlyrate|Income|Salaryhike|OverTime|Workex|YearsSinceLastPromotion|EmpSatisfaction|TrainingTimesLastYear|WorkLifeBalance|Performance_Rating|
+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
only showing top 20 rows

In [10]:
# Show Physical plan of execution which is known as DAG.
hremployeeDF.explain()

== Physical Plan ==
*(1) Scan JDBCRelation(HR_Employee) [numPartitions=1] [EmployeeID#0,Department#1,JobRole#2,Attrition#3,Gender#4,Age#5,MaritalStatus#6,Education#7,EducationField#8,BusinessTravel#9,JobInvolvement#10,JobLevel#11,JobSatisfaction#12,Hourlyrate#13,Income#14,Salaryhike#15,OverTime#16,Workex#17,YearsSinceLastPromotion#18,EmpSatisfaction#19,TrainingTimesLastYear#20,WorkLifeBalance#21,Performance_Rating#22] PushedFilters: [], ReadSchema: struct<EmployeeID:int,Department:string,JobRole:string,Attrition:string,Gender:string,Age:int,Mar...

#### Materialized View of Table

In [11]:
hremployeeDF.createOrReplaceTempView("hremployee")

#### 1. Display shape of hremployee table
        * Show number of rows & number of columns

In [12]:
spark.sql("""
    SELECT COUNT(*) AS ROW_COUNT
    FROM hremployee
""").show()

+---------+
|ROW_COUNT|
+---------+
|     1469|
+---------+

In [13]:
num_of_cols = len(hremployeeDF.columns)

In [14]:
len(hremployeeDF.collect()[0])

23

In [15]:
spark.sql(f"""
    SELECT COUNT(*) AS ROW_COUNT,
    {num_of_cols} AS COLUMN_COUNT
    FROM hremployee
""").show()

+---------+------------+
|ROW_COUNT|COLUMN_COUNT|
+---------+------------+
|     1469|          23|
+---------+------------+

#### MySql query to find the shape of the database
spark.sql("""
    SELECT COUNT(*) AS ROW_COUNT,
    SIZE(COLLECT_LIST(*)) AS COLUMN_COUNT
    FROM hremployee
""")

In [16]:
hremployeeDF.columns

['EmployeeID',
 'Department',
 'JobRole',
 'Attrition',
 'Gender',
 'Age',
 'MaritalStatus',
 'Education',
 'EducationField',
 'BusinessTravel',
 'JobInvolvement',
 'JobLevel',
 'JobSatisfaction',
 'Hourlyrate',
 'Income',
 'Salaryhike',
 'OverTime',
 'Workex',
 'YearsSinceLastPromotion',
 'EmpSatisfaction',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'Performance_Rating']

#### 2. Write a Query to show first 3 employee from each job role to join the company

In [17]:
spark.sql("""
    SELECT EmployeeID,JobRole
    FROM (
        SELECT EmployeeID,JobRole,
        row_number() OVER(partition by JobRole ORDER BY EmployeeID)
        AS rank
        FROM hremployee
        ) AS _
    WHERE rank < 4
""").show()

+----------+--------------------+
|EmployeeID|             JobRole|
+----------+--------------------+
|         1|     Sales Executive|
|        28|     Sales Executive|
|        40|     Sales Executive|
|         9|Manufacturing Dir...|
|        16|Manufacturing Dir...|
|        21|Manufacturing Dir...|
|         3|Laboratory Techni...|
|         5|Laboratory Techni...|
|         6|Laboratory Techni...|
|        22|Sales Representative|
|        34|Sales Representative|
|        37|Sales Representative|
|        10|Healthcare Repres...|
|        29|Healthcare Repres...|
|        32|Healthcare Repres...|
|         2|  Research Scientist|
|         4|  Research Scientist|
|        13|  Research Scientist|
|        19|             Manager|
|        26|             Manager|
+----------+--------------------+
only showing top 20 rows

#### 3. Top 3 employee with highest salary in Job Role.

In [18]:
spark.sql("""
    SELECT EmployeeID,JobRole,Income
    FROM (
        SELECT EmployeeID,JobRole,Income,
        row_number() OVER(partition by JobRole ORDER BY Income DESC)
        AS rank
        FROM hremployee
        ) AS _
    WHERE rank < 4
""").show(21)

+----------+--------------------+------+
|EmployeeID|             JobRole|Income|
+----------+--------------------+------+
|        99|     Sales Executive| 13872|
|       545|     Sales Executive| 13770|
|       839|     Sales Executive| 13758|
|       722|Manufacturing Dir...| 13973|
|       628|Manufacturing Dir...| 13826|
|       744|Manufacturing Dir...| 13726|
|       678|Laboratory Techni...|  7403|
|       817|Laboratory Techni...|  6782|
|       945|Laboratory Techni...|  6674|
|       565|Sales Representative|  6632|
|      1308|Sales Representative|  5405|
|      1220|Sales Representative|  4502|
|      1181|Healthcare Repres...| 13966|
|       317|Healthcare Repres...| 13964|
|       190|Healthcare Repres...| 13734|
|        68|  Research Scientist|  9724|
|      1315|  Research Scientist|  6962|
|      1305|  Research Scientist|  6854|
|       191|             Manager| 19999|
|       852|             Manager| 19943|
|       166|             Manager| 19926|
+----------+--------------------+------+
only showing top 21 rows

#### Top 3 highest package from overall Job Role

In [19]:
spark.sql("""
    SELECT EmployeeID,JobRole,Income
    FROM (
        SELECT EmployeeID,JobRole,Income,
        row_number() OVER(ORDER BY Income DESC)
        AS rank
        FROM hremployee
        ) AS _
    ORDER BY rank
    LIMIT 3
""").show()

+----------+-----------------+------+
|EmployeeID|          JobRole|Income|
+----------+-----------------+------+
|       191|          Manager| 19999|
|       747|Research Director| 19973|
|       852|          Manager| 19943|
+----------+-----------------+------+

#### write a spark query to shoq employee in order of Ascending with respect to employee income compared to previous income for each job role.

In [20]:
spark.sql("""
        SELECT EmployeeID,JobRole,Income,
        lag(Income, 1) OVER(PARTITION BY JobRole ORDER BY EmployeeID) prev_inc,
        Income - lag(Income, 1) OVER(PARTITION BY JobRole ORDER BY EmployeeID)
        AS diff
        FROM hremployee
        ORDER BY JobRole,diff
""").show(100)

+----------+--------------------+------+--------+-----+
|EmployeeID|             JobRole|Income|prev_inc| diff|
+----------+--------------------+------+--------+-----+
|        10|Healthcare Repres...|  5237|    null| null|
|       285|Healthcare Repres...|  4741|   13496|-8755|
|      1183|Healthcare Repres...|  6842|   13966|-7124|
|      1157|Healthcare Repres...|  4148|   11245|-7097|
|       205|Healthcare Repres...|  6673|   13734|-7061|
|       677|Healthcare Repres...|  4014|   10552|-6538|
|       397|Healthcare Repres...|  4522|   10965|-6443|
|       833|Healthcare Repres...|  5731|   12169|-6438|
|      1065|Healthcare Repres...|  4035|   10466|-6431|
|       745|Healthcare Repres...|  4777|   10999|-6222|
|       736|Healthcare Repres...|  4240|   10388|-6148|
|      1098|Healthcare Repres...|  4069|   10124|-6055|
|        89|Healthcare Repres...|  4152|   10096|-5944|
|       489|Healthcare Repres...|  4089|    9824|-5735|
|       929|Healthcare Repres...|  7978|   13577|-5599|
|       105|Healthcare Repres...|  5163|   10673|-5510|
|       267|Healthcare Repres...|  5582|   10938|-5356|
|      1231|Healthcare Repres...|  5562|   10748|-5186|
|       555|Healthcare Repres...|  6811|   11103|-4292|
|      1045|Healthcare Repres...|  6651|   10851|-4200|
|       527|Healthcare Repres...|  4553|    8621|-4068|
|       334|Healthcare Repres...|  9985|   13964|-3979|
|       373|Healthcare Repres...|  6540|   10496|-3956|
|       309|Healthcare Repres...|  5660|    9613|-3953|
|      1131|Healthcare Repres...|  5063|    8853|-3790|
|        32|Healthcare Repres...|  6465|   10248|-3783|
|      1425|Healthcare Repres...|  4878|    8633|-3755|
|      1008|Healthcare Repres...|  7553|   10920|-3367|
|       357|Healthcare Repres...|  6781|    9985|-3204|
|       791|Healthcare Repres...|  7119|   10322|-3203|
|       460|Healthcare Repres...|  6811|    9824|-3013|
|      1214|Healthcare Repres...|  7879|   10883|-3004|
|      1407|Healthcare Repres...|  4617|    7510|-2893|
|        94|Healthcare Repres...| 10673|   13503|-2830|
|      1287|Healthcare Repres...|  5538|    8321|-2783|
|      1299|Healthcare Repres...|  6513|    8926|-2413|
|       768|Healthcare Repres...|  4107|    6385|-2278|
|       979|Healthcare Repres...|  6377|    8500|-2123|
|      1304|Healthcare Repres...|  4448|    6513|-2065|
|       209|Healthcare Repres...|  4876|    6673|-1797|
|       558|Healthcare Repres...|  5093|    6811|-1718|
|       268|Healthcare Repres...|  4000|    5582|-1582|
|      1199|Healthcare Repres...|  5347|    6842|-1495|
|       550|Healthcare Repres...|  6142|    7625|-1483|
|       716|Healthcare Repres...|  5488|    6949|-1461|
|      1352|Healthcare Repres...|  5033|    6384|-1351|
|      1123|Healthcare Repres...|  6142|    7441|-1299|
|      1259|Healthcare Repres...|  5294|    6294|-1000|
|       943|Healthcare Repres...|  7094|    7978| -884|
|       164|Healthcare Repres...|  9439|   10312| -873|
|       573|Healthcare Repres...|  4335|    5093| -758|
|       472|Healthcare Repres...|  9824|   10527| -703|
|      1398|Healthcare Repres...|  5968|    6667| -699|
|      1456|Healthcare Repres...|  5689|    6306| -617|
|       848|Healthcare Repres...|  5343|    5731| -388|
|       651|Healthcare Repres...|  5562|    5933| -371|
|       618|Healthcare Repres...|  5933|    6288| -355|
|       904|Healthcare Repres...|  6623|    6812| -189|
|       583|Healthcare Repres...|  4244|    4335|  -91|
|       303|Healthcare Repres...|  5661|    5745|  -84|
|       361|Healthcare Repres...|  6755|    6781|  -26|
|      1387|Healthcare Repres...|  5373|    5399|  -26|
|       897|Healthcare Repres...|  6812|    6833|  -21|
|       414|Healthcare Repres...|  4523|    4522|    1|
|       785|Healthcare Repres...|  8823|    8722|  101|
|        65|Healthcare Repres...| 10096|    9884|  212|
|       984|Healthcare Repres...|  6687|    6377|  310|
|      1362|Healthcare Repres...|  5399|    5033|  366|
|      1093|Healthcare Repres...| 10124|    9715|  409|
|      1261|Healthcare Repres...|  5811|    5294|  517|
|       795|Healthcare Repres...|  7756|    7119|  637|
|      1250|Healthcare Repres...|  6294|    5562|  732|
|       525|Healthcare Repres...|  8621|    7725|  896|
|       288|Healthcare Repres...|  5745|    4741| 1004|
|       665|Healthcare Repres...|  6586|    5562| 1024|
|       695|Healthcare Repres...|  6949|    5855| 1094|
|      1090|Healthcare Repres...|  9715|    8606| 1109|
|      1388|Healthcare Repres...|  6667|    5373| 1294|
|      1294|Healthcare Repres...|  6870|    5538| 1332|
|       959|Healthcare Repres...|  8500|    7094| 1406|
|      1441|Healthcare Repres...|  6306|    4878| 1428|
|       896|Healthcare Repres...|  6833|    5343| 1490|
|       786|Healthcare Repres...| 10322|    8823| 1499|
|      1399|Healthcare Repres...|  7510|    5968| 1542|
|       252|Healthcare Repres...| 10938|    9396| 1542|
|       746|Healthcare Repres...|  6385|    4777| 1608|
|      1203|Healthcare Repres...|  7005|    5347| 1658|
|       814|Healthcare Repres...| 12169|   10445| 1724|
|       691|Healthcare Repres...|  5855|    4014| 1841|
|      1324|Healthcare Repres...|  6384|    4448| 1936|
|       606|Healthcare Repres...|  6288|    4244| 2044|
|      1298|Healthcare Repres...|  8926|    6870| 2056|
|       440|Healthcare Repres...|  9824|    7632| 2192|
|      1081|Healthcare Repres...|  8606|    6388| 2218|
|       111|Healthcare Repres...|  7484|    5163| 2321|
|      1074|Healthcare Repres...|  6388|    4035| 2353|
|      1278|Healthcare Repres...|  8321|    5811| 2510|
|       807|Healthcare Repres...| 10445|    7756| 2689|
|      1125|Healthcare Repres...|  8853|    6142| 2711|
|       127|Healthcare Repres...| 10312|    7484| 2828|
+----------+--------------------+------+--------+-----+
only showing top 100 rows

#### LEAD() -> Row's Next Records

In [21]:
spark.sql("""
        SELECT EmployeeID,Department,jobRole,age,gender,Income,Workex,
        lead(Income, 2, 0) OVER(ORDER BY EmployeeID) next_inc
        FROM hremployee
""").show()

+----------+--------------------+--------------------+---+------+------+------+--------+
|EmployeeID|          Department|             jobRole|age|gender|Income|Workex|next_inc|
+----------+--------------------+--------------------+---+------+------+------+--------+
|         1|               Sales|     Sales Executive| 41|Female|  5993|     8|    2090|
|         2|Research & Develo...|  Research Scientist| 49|  Male|  5130|    10|    2909|
|         3|Research & Develo...|Laboratory Techni...| 37|  Male|  2090|     7|    3468|
|         4|Research & Develo...|  Research Scientist| 33|Female|  2909|     8|    3068|
|         5|Research & Develo...|Laboratory Techni...| 27|  Male|  3468|     6|    2670|
|         6|Research & Develo...|Laboratory Techni...| 32|  Male|  3068|     8|    2693|
|         7|Research & Develo...|Laboratory Techni...| 59|Female|  2670|    12|    9526|
|         8|Research & Develo...|Laboratory Techni...| 30|  Male|  2693|     1|    5237|
|         9|Research & Develo...|Manufacturing Dir...| 38|  Male|  9526|    10|    2426|
|        10|Research & Develo...|Healthcare Repres...| 36|  Male|  5237|    17|    4193|
|        11|Research & Develo...|Laboratory Techni...| 35|  Male|  2426|     6|    2911|
|        12|Research & Develo...|Laboratory Techni...| 29|Female|  4193|    10|    2661|
|        13|Research & Develo...|  Research Scientist| 31|  Male|  2911|     5|    2028|
|        14|Research & Develo...|Laboratory Techni...| 34|  Male|  2661|     3|    9980|
|        15|Research & Develo...|Laboratory Techni...| 28|  Male|  2028|     6|    3298|
|        16|Research & Develo...|Manufacturing Dir...| 29|Female|  9980|    10|    2935|
|        17|Research & Develo...|  Research Scientist| 32|  Male|  3298|     7|   15427|
|        18|Research & Develo...|Laboratory Techni...| 22|  Male|  2935|     1|    3944|
|        19|               Sales|             Manager| 53|Female| 15427|    31|    4011|
|        20|Research & Develo...|  Research Scientist| 38|  Male|  3944|     6|    3407|
+----------+--------------------+--------------------+---+------+------+------+--------+
only showing top 20 rows

#### NTILE() 
        * Dividing records into number of Quarters.

In [22]:
spark.sql("""
        SELECT EmployeeID,Department,jobRole,age,gender,Income,
        NTILE(4) OVER(ORDER BY income) salary_quartiles
        FROM hremployee
""").show()

+----------+--------------------+--------------------+---+------+------+----------------+
|EmployeeID|          Department|             jobRole|age|gender|Income|salary_quartiles|
+----------+--------------------+--------------------+---+------+------+----------------+
|       514|Research & Develo...|  Research Scientist| 20|  Male|  1009|               1|
|       728|Research & Develo...|  Research Scientist| 18|  Male|  1051|               1|
|       765|               Sales|Sales Representative| 28|  Male|  1052|               1|
|      1338|               Sales|Sales Representative| 30|  Male|  1081|               1|
|      1365|               Sales|Sales Representative| 29|  Male|  1091|               1|
|       178|Research & Develo...|Laboratory Techni...| 19|  Male|  1102|               1|
|       912|               Sales|Sales Representative| 25|  Male|  1118|               1|
|      1402|Research & Develo...|Laboratory Techni...| 31|Female|  1129|               1|
|       302|               Sales|Sales Representative| 18|Female|  1200|               1|
|       911|Research & Develo...|  Research Scientist| 23|  Male|  1223|               1|
|        24|Research & Develo...|  Research Scientist| 21|  Male|  1232|               1|
|      1017|Research & Develo...|  Research Scientist| 31|Female|  1261|               1|
|      1053|Research & Develo...|  Research Scientist| 30|  Male|  1274|               1|
|       516|Research & Develo...|Laboratory Techni...| 35|  Male|  1281|               1|
|      1013|               Sales|Sales Representative| 31|Female|  1359|               1|
|      1205|Research & Develo...|Laboratory Techni...| 32|  Male|  1393|               1|
|       778|Research & Develo...|Laboratory Techni...| 21|Female|  1416|               1|
|       297|Research & Develo...|Laboratory Techni...| 18|  Male|  1420|               1|
|       150|Research & Develo...|Laboratory Techni...| 19|Female|  1483|               1|
|      1311|Research & Develo...|  Research Scientist| 18|Female|  1514|               1|
+----------+--------------------+--------------------+---+------+------+----------------+
only showing top 20 rows

#### Find the number of Employee in each percentile_group 0-25 ,25-50,50-75 based on Income using percent_rank and case when.

In [23]:
spark.sql("""
SELECT percentile_range, count(*) Emp_Count
FROM (
    SELECT
        INCOME,
        PERCENT_RANK() OVER(PARTITION BY DEPARTMENT ORDER BY INCOME) * 100 as percent_rank,
        CASE 
            WHEN PERCENT_RANK() OVER(PARTITION BY DEPARTMENT ORDER BY INCOME) * 100 < 25 THEN '0-25'
            WHEN PERCENT_RANK() OVER(PARTITION BY DEPARTMENT ORDER BY INCOME) * 100 < 50 THEN '25-50'
            WHEN PERCENT_RANK() OVER(PARTITION BY DEPARTMENT ORDER BY INCOME) * 100 < 75 THEN '50-75'
            ELSE '75-100'
        END as percentile_range
    FROM hremployee
    ) _ 
GROUP BY percentile_range
ORDER BY percentile_range
""").show()

+----------------+---------+
|percentile_range|Emp_Count|
+----------------+---------+
|            0-25|      367|
|           25-50|      366|
|           50-75|      367|
|          75-100|      369|
+----------------+---------+

#### Hive Integration with Pyspark

In [2]:
spark.stop()

2482 NameNode
3268 NodeManager
3093 ResourceManager
12327 SparkSubmit
12455 Jps
2683 DataNode
2924 SecondaryNameNode

In [4]:
# Spark Integration  with Hive warehouse.
# Config name for Hive-Integration 'spark.sql.warhouse.dir' value = '/user/hive/warehouse'
spark = (SparkSession.builder.appName('Pyspark-Hive')
         .config('spark.sql.warehouse.dir','/user/hive/warehouse')
        .enableHiveSupport().getOrCreate())

In [5]:
spark

In [6]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|    airlines|
|     default|
+------------+

In [7]:
 spark.sql("""
     CREATE DATABASE IF NOT EXISTS airlines
 """)

DataFrame[]

In [8]:
spark.sql("""
     use airlines
 """)

DataFrame[]

In [9]:
spark.sql("""
     show databases
 """).show()

+------------+
|databaseName|
+------------+
|    airlines|
|     default|
+------------+

In [10]:
spark.sql("""
    show tables
 """).show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|airlines| airports|      false|
|airlines|  flights|      false|
+--------+---------+-----------+

In [11]:
spark.sql("""
     create table if not exists flights(
             DayOfMonth int, 
             DayOfWeeK int,
             Carrier varchar(10),
             OriginAirportID int,
             DestAirportID int,
             DepDelay int,
             ArrDelay int
             )
             row format delimited
             fields terminated by ','
             lines terminated by '\n'
             STORED AS TEXTFILE
             TBLPROPERTIES('skip.header.line.count' = '1')
 """)

DataFrame[]

In [12]:
spark.sql("""show tables""").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|airlines| airports|      false|
|airlines|  flights|      false|
+--------+---------+-----------+

In [13]:
spark.sql("""load data local inpath '/home/hadoop/Downloads/raw_flight_data1.csv' overwrite into table flights
 """)

DataFrame[]

In [14]:
spark.sql("""
    create table if not exists airports(airport_id int, city varchar(50),state varchar(50) )
    row format delimited
    fields terminated by ','
    lines terminated by '\n'
    stored as textfile
    tblproperties ('skip.header.line.count' = '1')
""")

DataFrame[]

In [15]:
spark.sql("""load data local inpath '/home/hadoop/Downloads/airports1.csv' overwrite into table airports""")

DataFrame[]

In [16]:
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|airlines| airports|      false|
|airlines|  flights|      false|
+--------+---------+-----------+

In [17]:
spark.sql('select * from flights').show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayOfMonth|DayOfWeeK|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

### 1. Extract

In [18]:
flights_df = spark.table("airlines.flights")
airports_df = spark.table("airlines.airports")

In [19]:
airports_df.show(2)

+----------+-----------+-----+
|airport_id|       city|state|
+----------+-----------+-----+
|     10165|Adak Island|   AK|
|     10299|  Anchorage|   AK|
+----------+-----------+-----+
only showing top 2 rows

### 2. Transformation

In [20]:
flights_join = flights_df.join(airports_df, on= flights_df.OriginAirportID == airports_df.airport_id , how='inner')

In [21]:
flights_join.show(5)

+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+
|DayOfMonth|DayOfWeeK|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|          city|state|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|       Detroit|   MI|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|Salt Lake City|   UT|
|        19|        5|     DL|          14057|        14869|      -4|     -15|     14057|      Portland|   OR|
|        19|        5|     DL|          15016|        11433|      28|      24|     15016|     St. Louis|   MO|
|        19|        5|     DL|          11193|        12892|      -6|     -11|     11193|    Cincinnati|   OH|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+
only showing top 5 rows

### 3. Load

In [22]:
flights_join = flights_join.repartition(4)

In [23]:
flights_df.write.parquet("file:///home/hadoop/Downloads/flights/")

AnalysisException: 'path file:/home/hadoop/Downloads/flights already exists.;'

In [24]:
# Read a parquet file format
flights_parquet_df = spark.read.parquet("file:///home/hadoop/Downloads/flights/")

In [ ]:
flights_join.write.parquet("/flights1")

In [ ]:
flights_join.write.partitionBy('Carrier').parquet('/airlines')

In [26]:
flights_join.write.bucketBy(col = 'state', numBuckets = 50).format("csv").saveAsTable("bucketed_table")

AnalysisException: 'Table `bucketed_table` already exists.;'

In [34]:
flights_join.write.partitionBy('Carrier').bucketBy(col = 'state', numBuckets = 30)\
.format("csv").saveAsTable("Part_bucket_table")

In [28]:
spark.sql("SELECT carrier, count(*) from part_bucketed_table group by carrier").show()

+-------+--------+
|carrier|count(1)|
+-------+--------+
|     UA|  122443|
|     AA|  124037|
|     EV|   46563|
|     B6|   51381|
|     DL|  134724|
|     OO|   69785|
|     F9|    9811|
|     YV|   14612|
|     US|  100668|
|     MQ|   45926|
|     HA|    4962|
|     AS|   28796|
|     FL|   28053|
|     VX|   14683|
|     WN|  216101|
|     9E|   36030|
+-------+--------+

### Load on MySQL

In [35]:
connection_properties = {
    'user' : 'root',
    'password' : 'hadoop@123',
    'driver' : 'com.mysql.cj.jdbc.Driver'
}

flights_join.write.jdbc(url="jdbc:mysql://localhost:3306/flights",table='airlines',
                        mode="overwrite", properties=connection_properties)

In [36]:
spark.stop()